<html>
{% load static %}
<head>
<link rel="stylesheet" href="{% static "css/1.css" %}"/>
</head>
<body bgcolor="#f5e65d">
<center><h1><u>Deepak's Favourites</u></h1></center>
<div >
<h2>Player:{{player}}</h2>
<h3><a href="https://en.wikipedia.org/wiki/MS_Dhoni">Click Know More</a></h3>
<img src="{% static "images/dhoni.jpeg"%}">  <!-- name of the image stored in images folder -->
</div>
<br>
<div >
<h2>Animal:{{animal}}</h2>
<h3><a href="https://en.wikipedia.org/wiki/Lion">Click Know More</a></h3>
<img src="{% static "images/lion.jpeg"%}">  <!-- name of the image stored in images folder -->
</div>
<br>
<div>
<h2>Sub:{{subject}}</h2>
<h3><a href="https://www.python.org/">Click Know More</a></h3>
<img src="{% static "images/python.jpeg"%}">  <!-- name of the image stored in images folder -->
</div>
</body>
</html>
